@media (max-width: 1440px)
    .pageup
        .pageup__item
            right: 50px
        
@media (max-width: 991px)
    .caorusel
        &__inner
            max-width: 100%
            img
                max-width: 100%
    .pageup
        .pageup__item
            right: 20px

@media (max-width: 880px)
    .callback
        .callback__box
            .callback-item-round
                margin-right: 24px
                width: 140px
                height: 140px
            .callback-item
                &__text
                    width: 480px
    .pageup
        .pageup__item
            right: 20px
            bottom: 20px

@media ( max-width: 576px)
    .promo
        .header
            &__logo
                    margin-top: 14px
            &__oficial
                display: none
        &__wrapper
            align-items: center

    .advantages
        &__box
            flex-direction: column
        &__items
            margin-top: 40px
    .catalog
        &__tabs
            margin-top: 50px
        &__tab
            div
                font-size: 14px
        .catalog__content
            display: flex
            justify-content: center

    .callback
        .callback__box
            .callback-item__wrapper
                display: block
                position: relative
                margin-bottom: 50px
                .callback-item-round
                    margin-right: 24px
                    width: 90px
                    height: 90px
                .callback-item
                    &__name
                        position: absolute
                        top: 0px
                        left: 100px
                    &__results
                        position: absolute
                        top: 18px
                        left: 100px
                    &__text
                        margin-top: 20px
                        width: 480px

@media ( max-width: 425px)
    .promo
        .header
            display: flex
            justify-content: center
            &__oficial
                display: none
            &__contact
                display: none
        &__wrapper
            align-items: center
        &__header
            text-align: left
        &__subheader
            text-align: left
        .promo__icons
            width: 400px
            align-items: flex-end

    .advantages
        padding-bottom: 50px
        &__box
            flex-direction: column
            &:nth-last-child(1)
                margin-top: 0
        &__items
            margin-top: 40px
    .consultation
        &__descr
            margin-top: 50px
        .feed-form
            align-items: center
            width: auto
            input
                width: 80%
            .button
                width: 80%
    .catalog
        .catalog__tabs
            margin-top: 40px
        .catalog__tab
            margin: 0px 5px
            height: 50px
            line-height: 50px
            div
                font-size: 11px
    
    .callback
        .callback__box
            .callback-item__wrapper
                .callback-item
                    &__text
                        width: 380px
    footer
        .footer__adress__wrapper
            .footer__adress__box
                padding-top: 50px
                width: 386px
                height: 248px
    .overlay
        .modal
            .modal__close
                top: -10px
                right: 3px

@media ( max-width: 375px)
    .promo
        .header
            display: flex
            justify-content: center
            &__oficial
                display: none
            &__contact
                display: none
        &__wrapper
            align-items: center
        &__header
            text-align: left
        &__subheader
            text-align: left
        &__icons
            width: 319px
        .promo__wrapper
            .promo__icons
                width: 353px
                align-items: flex-end
                align-content: center
                justify-content: space-around
    .catalog
        .catalog__tabs
            margin-bottom: 20px
            display: block
            padding-left: 20px
        .catalog__tab
            width: 250px
            height: 40px
            line-height: 40px
            margin-top: 30px
            &:last-child
                margin-bottom: 0px
            div
                font-size: 14px
    .callback
        .callback__box
            .callback-item__wrapper
                .callback-item
                    &__text
                        width: 364px

@media ( max-width: 320px)
    .promo
        .promo__wrapper
            h1
                font-size: 36px
            .promo__subheader
                font-size: 21px
            .promo__icons
                width: 300px
                align-items: flex-end
                align-content: center
                justify-content: space-around
    .pageup
        .pageup__item
            right: 5px
            bottom: 10px
            width: 40px
            height: 40px
    .callback
        .callback__box
            .callback-item__wrapper
                .callback-item
                    &__text
                        width: 305px
                        font-size: 13px
    
